language: go
sudo: false

go:
  - 1.2
  - 1.3
  - 1.4
  - 1.5

before_install:
  - export PATH=$HOME/gopath/bin:$PATH

matrix:
  fast_finish: true

script:
  - make

notifications:
  email: false

branches:
  except:
    - /^release_.*$/
